
@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<marquee>
    <h1 class="devPageh1">Welcome to Millenial Resorts! Enjoy the endless summer at anyone of our resorts located globally, accross the Millenial Verse. That's all folks, hope you got something to go do. Your still here? </h1>
</marquee>

<img src="~/Content/images/devPics/a-flames.gif" style="margin-top:-50px; margin-left:50px;" alt="Craig Barkley"><img src="~/Content/images/devPics/a-flames.gif" style="margin-top:-50px; im" alt="Craig Barkley"><img src="~/Content/images/devPics/a-flames.gif" style="margin-top:-50px; im" alt="Craig Barkley">
@*<img src="~/Content/images/devPics/giphy.gif" alt="World">*@


<div class="devPage">

    <section style="margin-bottom:20px;">

        <img src="~/Content/images/devPics/ecolon.jpg" class="devImg" alt="Eduardo-Colon" height="240" width="240">

        <p class="devSection2">
            Hi, my name is Eduardo Colon and I am a Software Development student at Kirkwood Community College. Looking for  an entry-level position with career opportunities where I can contribute and
            develop professionally as a Software Developer.
        </p>

        <img src="~/Content/images/devPics/barraazul.gif" style="margin-left:50px" alt="">
        <img src="~/Content/images/devPics/barraazul.gif" style="" alt="">
        <img src="~/Content/images/devPics/barraazul.gif" style="" alt="">

    </section>
    <br />
    <hr />

    <section style="margin-bottom:20px;">

        <img src="~/Content/images/image0.jpg">

        <p class="devSection2">
            My name is Phillip Hansen, and I am a graduate from Kirkwood with an Associates in Software Development. I current live in Cedar Falls, Iowa and work as a server at an Applebee’s. As of right now I plan on furthering my education at the University of Northern Iowa to have a major in Computer Science (BA), and plan to have a career as a professional software developer.
        </p>

        <img src="~/Content/images/devPics/kity_cat2.gif">
        <img src="~/Content/images/devPics/kity_cat2.gif">
        <img src="~/Content/images/devPics/kity_cat2.gif">


    </section>
    <br />
    <hr />
    <section style="margin-bottom:20px;">

        <img src="~/Content/images/image1.png">

        <p class="devSection2">
            What's up! My name is Dalton Cleveland, just another student here at Kirkwood. I plan on graduating later this month with an Associates degree in Computer Software Development, and am looking forward to working in a professional environment!
        </p>

        <img src="~/Content/images/devPics/constrct.gif">


    </section>
    <br />
    <hr />
    <section style="margin-bottom:20px;">


        <img src="~/Content/images/devPics/Gunardi_Saputra.jpg" class="devImg" alt="Gunardi-Saputra" height="240" width="240">
        <p class="devSection2">
            “Apa kabar!” means “Hi.” In Indonesia. My name is Gunardi Saputra. I was 41 years old when I decided to go back to school.
            It was not easy for me to learn many languages at once. I can speak Javanese but I have no idea to code in Java without “nese”.
            2 years more full of new experience and challenge.Thanks to my family for the strength they give me every day, teachers and friends.
            I am close to be a programmer. I just can say,” I was blind and now I see.”

        </p>


        <img src="~/Content/images/devPics/dollarspindownd.gif" alt="Craig Barkley">


    </section>

    <hr />

    <br />
    <section style="margin-bottom:20px;">
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>

        <img src="~/Content/images/devPics/fish.gif" alt="Craig Barkley">


    </section>
    <hr />

    <br />
    <section style="margin-bottom:20px;">
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>

        <img src="~/Content/images/devPics/giphy.gif" alt="Craig Barkley">


    </section>
    <hr />

    <br />
    <section style="margin-bottom:20px;">
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>

        <img src="~/Content/images/devPics/kity_cat2.gif" alt="Craig Barkley">


    </section>

    <hr />

    <br />
    <section style="margin-bottom:20px;">
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>

        <img src="~/Content/images/devPics/usaflag1.gif" alt="Craig Barkley">


    </section>
    <hr />

    <br />
    <section style="margin-bottom:20px;">
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>

        <img src="~/Content/images/devPics/a-flames.gif" alt="Craig Barkley">


    </section>
    <hr />

    <br />
    <section style="margin-bottom:20px;">
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>

        <img src="~/Content/images/devPics/welcome2site_flames.gif" alt="Craig Barkley">


    </section>
    <hr />

    <br />
    <section style="margin-bottom:20px;">
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>

        <img src="~/Content/images/devPics/welcome2site_flames.gif" alt="Craig Barkley">


    </section>

    <hr />

    <br />
    <section style="margin-bottom:20px;">
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>

        <img src="~/Content/images/devPics/welcome2site_flames.gif" alt="Craig Barkley">


    </section>
    <hr />

    <br />
    <section style="margin-bottom:20px;">
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>

        <img src="~/Content/images/devPics/welcome2site_flames.gif" alt="Craig Barkley">


    </section>

    <hr />

    <br />                                                                                                                                   <section style="margin-bottom:20px;">
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>

        <img src="~/Content/images/devPics/welcome2site_flames.gif" alt="Craig Barkley">


    </section>

    <section style="margin-bottom:20px;">
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>

        <img src="~/Content/images/devPics/welcome2site_flames.gif" alt="Craig Barkley">


    </section>

    <hr />

    <br />
    <section style="margin-bottom:20px;">
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>

        <img src="~/Content/images/devPics/welcome2site_flames.gif" alt="Craig Barkley">


    </section>
    <hr />

    <br />
    <section style="margin-bottom:20px;">
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>

        <img src="~/Content/images/devPics/welcome2site_flames.gif" alt="Craig Barkley">


    </section>

    <hr />

    <br />
    <section style="margin-bottom:20px;">
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>

        <img src="~/Content/images/devPics/welcome2site_flames.gif" alt="Craig Barkley">


    </section>
    <hr />

    <br />
    <section style="margin-bottom:20px;">
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>

        <img src="~/Content/images/devPics/welcome2site_flames.gif" alt="Craig Barkley">


    </section>

    <hr />

    <br />                                                                                                                                                                                                       <section style="margin-bottom:20px;">
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>

        <img src="~/Content/images/devPics/welcome2site_flames.gif" alt="Craig Barkley">


    </section>

    <hr />

    <br />
    <section style="margin-bottom:20px;">
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>

        <img src="~/Content/images/devPics/welcome2site_flames.gif" alt="Craig Barkley">


    </section>

    <hr />

    <br />                                                                                                                                                                                                              <section style="margin-bottom:20px;">
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>

        <img src="~/Content/images/devPics/welcome2site_flames.gif" alt="Craig Barkley">


    </section>

    <hr />

    <br />                                                                                                                                                                                                                 <section style="margin-bottom:20px;">
        <img src="images/">
        <p>
            Hey there. I'm .
        </p>

        <img src="~/Content/images/devPics/welcome2site_flames.gif" alt="Craig Barkley">


    </section>

    <hr />

    <br />
    <section class="devSection">
        <img src="~/Content/images/devPics/CRAIGB_small.png" alt="Craig Barkley" height="240" width="240">
        <p>
            With a Management Information Systems Degree, I have worked with medium retail businesses
            for the last 15 years and enjoy using my knowledge to create value for those companies. I am currently
            a DeltaV student, as well as a Kirkwood Community College student finishing a Computer Software Development
            and Web Technologies Associate in Applied Science. I am effective at learning and integrating those new technology
            skills into my development process. I am hoping to find a role creating world class business applications for small
            to medium size businesses. As a small business owner I know the importance of having a strategic business plan that
            includes a technology as a main component to their success; and I want to share my management skills and experiences
            with them to help them overcome the boundaries that all businesses face in the global market..

        </p>

        <img src="~/Content/images/devPics/welcome2site_flames.gif" alt="Craig Barkley">

    </section>

    <br />
</div>


