
@{
    ViewBag.Title = "Rooms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






<div class="content">

    <div class="jumbotron jumbotronBackGroundRoomPage">
        <div class="container body-content">
            <br /><br /><br />
            <h1>Stay With Us!</h1>

            <h1 style="float:right">Relax in Paradise!</h1>



        </div>
    </div>
   


    <div class="jumbotron body-content">
        <div class="container body-content">

            <h1 style=" font-size: 36px;
        font-family: 'Fugaz One', cursive;
        text-shadow: 3px 3px #40798C;
        color: #fff;">Browes Our Resort Rooms</h1>  
            
            
            
            <p>@Html.ActionLink("Make A Reservation Now", "Index", "Rooms")</p>
            <div class="row">

                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <img class="card-img-top" src="~/Content/images/beachHouse.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text" style="text-align:center">This is clearly a house on the beach, like right next to the water, which is kinda cool we think.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <img class="card-img-top" src="~/Content/images/HotelHostel.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text" style="text-align:center">Make new friends from accross the globe as you sleep in this little hostel hut of heaven on earth.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <img class="card-img-top" src="~/Content/images/jade-Mountain.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text" style="text-align:center">For the cost of a view like Jade mountain, your breath will be capitvated, making checkout easier to manage.</p>
                        </div>
                    </div>
                </div>



                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <img class="card-img-top" src="~/Content/images/Resort-Beachfront.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text" style="text-align:center">This place has alittle pool, all to yourself, which is nice. And has a hamock for nice naps.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <img class="card-img-top" src="~/Content/images/Resort-Beachfrontjpg.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text" style="text-align:center">The inside view of one of our water bungalow cottage, hut, hang outs, in the sea areas.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card">
                        <img class="card-img-top" src="~/Content/images/bunglalowWater.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text" style="text-align:center">This is one of our water rooms that are sure to relax and entertain, we have sharks watch out.</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
