table {
	margin: auto;
	border: thick blue solid;
}
h2, h3 {
	text-align: center;
}
td {
	border: 1px black solid;
	padding: 1ex;
	margin: 0em;
	min-width: 5em;
}
th {
	background-color: black;
	color: white;
	font-weight: bold;
	padding: 1ex;
}
tr {
	border: 4px black solid;	
}